<div class="student-page">
  <h2 class="page-title">Assigned Students of {{ subjectName }}</h2>

  <div class="card-container" *ngIf="students.length > 0">
    <mat-card *ngFor="let student of students" class="student-card">
      <mat-card-header>
        <mat-card-title>{{ student.name }}</mat-card-title>
        <mat-card-subtitle>ID: {{ student.id }}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p><strong>DOB:</strong> {{ student.dateOfBirth }}</p>
        <p><strong>Age:</strong> {{ student.age }}</p>
        <p><strong>Address:</strong> {{ student.address }}</p>
      </mat-card-content>

      <mat-card-actions align="end"> 
        <button mat-stroked-button color="warn" (click)="onUnAssign(student)" [routerLink]="['/assigned/students', subjectId, subjectName]">Unassign</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="no-students" *ngIf="students.length === 0 && isLoaded">
    <p>No students available.</p>
  </div>

  <button mat-raised-button color="primary" routerLink="/assign" class="back-button">
    Back
  </button>

</div>
